In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

#import API key
from config import g_key

In [2]:
# store the csv you saved created in part one into a dataframe
city_data_df=pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2022-07-21 14:08:07,19.7297,-155.0900,73.27,99,49,1.01
1,1,Tongliao,CN,2022-07-21 14:08:25,43.6125,122.2653,71.44,80,100,2.13
2,2,Narsaq,GL,2022-07-21 14:08:26,60.9167,-46.0500,62.82,67,9,3.47
3,3,Leningradskiy,RU,2022-07-21 14:08:26,69.3833,178.4167,32.97,98,100,14.16
4,4,Kahului,US,2022-07-21 14:08:27,20.8947,-156.4700,73.42,78,100,12.66

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your google api key
gmaps.configure(api_key=g_key)

In [5]:
#Get the maximum temperatures
max_temp=city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
#1. Assign the locations to an array of latitude and longitude pairs
locations=city_data_df[["Lat", "Lng"]]
#2. Assign the weights cariable to some values
max_temp=city_data_df["Max Temp"]
#3. Assign the figure varaible to the gmaps.figure() attribute
fig=gmaps.figure(center=(30.0,31.1), zoom_level=1.5)
#4. Assign the heatmap_layer variable to the heatmap_layer attribute and aedd in the locations
heat_layer=gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#5. Add the heatmap layer
fig.add_layer(heat_layer)
#6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Heatmap of percent humidity
locations=city_data_df[["Lat", "Lng"]]
humidity=city_data_df["Humidity"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations=city_data_df[["Lat", "Lng"]]
clouds=city_data_df["Cloudiness"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Heatmap of wind speed
locations=city_data_df[["Lat", "Lng"]]
wind=city_data_df["Wind Speed"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#Ask the customer to add a minimum and max temperature value
min_temp=float(input("What is the minimum temperature you would like for your trip? "))
max_temp=float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find teh cities that fit the criteria
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Bengkulu,ID,2022-07-21 14:08:29,-3.8004,102.2655,77.22,89,80,4.50
11,11,Praia Da Vitoria,PT,2022-07-21 14:08:30,38.7333,-27.0667,76.75,83,52,3.51
15,15,Saint Anthony,US,2022-07-21 14:08:31,45.0205,-93.2180,76.89,62,40,13.80
16,16,Buala,SB,2022-07-21 14:08:32,-8.1450,159.5921,80.11,82,95,5.91
17,17,San Cristobal,VE,2022-07-21 14:08:32,7.7669,-72.2250,78.98,70,95,6.06
19,19,Kavaratti,IN,2022-07-21 14:08:32,10.5669,72.6420,81.10,82,100,20.98
21,21,Sinnamary,GF,2022-07-21 14:08:33,5.3833,-52.9500,82.74,72,30,5.19
22,22,Acapulco,MX,2022-07-21 14:08:30,16.8634,-99.8901,84.02,84,40,4.61
24,24,Touros,BR,2022-07-21 14:08:34,-5.1989,-35.4608,82.87,62,58,14.27
32,32,Bethel,US,2022-07-21 14:08:34,41.3712,-73.4140,87.89,75,0,6.91

In [13]:
# Check for nulls
preferred_cities_df.count()

City_ID       235
City          235
Country       235
Date          235
Lat           235
Lng           235
Max Temp      235
Humidity      235
Cloudiness    235
Wind Speed    235
dtype: int64

In [14]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp and coordinates
hotel_df=preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
7           Bengkulu      ID     77.22  -3.8004  102.2655
11  Praia Da Vitoria      PT     76.75  38.7333  -27.0667
15     Saint Anthony      US     76.89  45.0205  -93.2180
16             Buala      SB     80.11  -8.1450  159.5921
17     San Cristobal      VE     78.98   7.7669  -72.2250
19         Kavaratti      IN     81.10  10.5669   72.6420
21         Sinnamary      GF     82.74   5.3833  -52.9500
22          Acapulco      MX     84.02  16.8634  -99.8901
24            Touros      BR     82.87  -5.1989  -35.4608
32            Bethel      US     87.89  41.3712  -73.4140

In [15]:
# Set parameters to search for a hotel
params={
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [16]:
#Iterate through the dataframe
for index, row in hotel_df.iterrows():
    #Get the latutude and longitude
    lat=row["Lat"]
    lng=row["Lng"]
    
    #Add the latitudes and longitudes to location key for the params dictonary
    params["location"]=f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latutide and longitude
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #Make request and get teh JSON data from teh search
    hotels=requests.get(base_url, params=params).json()
    #Grab teh first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"]=hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found....skipping.")
        
hotel_df.head(10)

Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Bengkulu,ID,77.22,-3.8004,102.2655,Grage Hotel Bengkulu
11,Praia Da Vitoria,PT,76.75,38.7333,-27.0667,Hotel Branco I
15,Saint Anthony,US,76.89,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
16,Buala,SB,80.11,-8.1450,159.5921,Maringe Lagoon Lodge
17,San Cristobal,VE,78.98,7.7669,-72.2250,Pirineos
19,Kavaratti,IN,81.10,10.5669,72.6420,Green leaf
21,Sinnamary,GF,82.74,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
22,Acapulco,MX,84.02,16.8634,-99.8901,HS Hotsson Smart Acapulco
24,Touros,BR,82.87,-5.1989,-35.4608,INN NEW HORIZON
32,Bethel,US,87.89,41.3712,-73.4140,Courtyard by Marriott Danbury

In [17]:
# Add a heatmap of temperature for the vacation spots
locations=hotel_df[["Lat", "Lng"]]
max_temp=hotel_df["Max Temp"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations)

fig.add_layer(marker_layer)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template="""
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
#Store the Data Frame Row
hotel_info=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots
locations=hotel_df[["Lat", "Lng"]]
max_temp=hotel_df["Max Temp"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))